<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security 
       http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <security:global-method-security secured-annotations="enabled" />


    <security:http auto-config="true">
		<security:access-denied-handler error-page="/public/login.html"/>
	
        <security:intercept-url pattern="/protected/**" access="ROLE_USER" />
        <security:intercept-url pattern="/admin/**" access="ROLE_ADMIN" />

        <security:form-login login-page="/public/login.html"
        login-processing-url="/login2"
        username-parameter="username"
        password-parameter="password" 
        authentication-failure-url="/public/login.html"
        default-target-url="http://localhost:8090/protected/index.html" />

        <security:logout invalidate-session="true" 
        logout-success-url="/public/login.html" logout-url="/logout" />
    </security:http>
    
    <security:authentication-manager>
    	<security:authentication-provider ref="loginAuthenticationProvider">
    	</security:authentication-provider>
    </security:authentication-manager>
	
	<bean id="loginAuthenticationProvider"
    	class="org.ricky.admin.security.LoginAuthenticationProvider">
    	<!--  property name="userDetailsService" ref="loginUserDetailService"></property-->
	</bean>

    
    <!--  security:authentication-manager>
	  <security:authentication-provider>
	    <security:user-service>
		<security:user name="mkyong" password="123456" authorities="ROLE_USER" />
	    </security:user-service>
	  </security:authentication-provider>
	</security:authentication-manager-->

    <!--  security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service
                    data-source-ref="myContactDataSource"
                    users-by-username-query="select email, password, enabled from system_user where email = ?"
                    authorities-by-username-query="select u.email as login, u.user_role as role from system_user u where u.email = ?" />
        </security:authentication-provider>
    </security:authentication-manager-->
</beans>