<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security 
       http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <security:global-method-security secured-annotations="enabled" />


    <security:http auto-config="true">
		<security:access-denied-handler error-page="/public/login.html"/>
	
        <security:intercept-url pattern="/protected/**" access="ROLE_USER" />
        <security:intercept-url pattern="/admin/**" access="ROLE_ADMIN" />

        <security:form-login login-page="/public/login.html"
        login-processing-url="/login2"
        username-parameter="username"
        password-parameter="password" 
        authentication-failure-url="/public/login.html"
        default-target-url="http://localhost:8090/protected/index.html" />

        <security:logout invalidate-session="true" 
        logout-success-url="/public/login.html" logout-url="/logout" />
        
        <security:custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="myFilter" />
    </security:http>
    
    <!-- 一个自定义的filter，必须包含authenticationManager,accessDecisionManager,securityMetadataSource三个属性，
    我们的所有控制将在这三个类中实现，解释详见具体配置 -->
    <bean id="myFilter" class="org.ricky.admin.security.MyFilterSecurityInterceptor">
        <property name="authenticationManager"
            ref="authenticationManager" />
        <property name="accessDecisionManager"
            ref="myAccessDecisionManagerBean" />
        <property name="securityMetadataSource"
            ref="securityMetadataSource" />
    </bean>
    
    <security:authentication-manager  alias="authenticationManager">
    	<security:authentication-provider ref="loginAuthenticationProvider"
    	user-service-ref="myUserDetailService">
    	</security:authentication-provider>
    </security:authentication-manager>
	
	<bean id="loginAuthenticationProvider"
    	class="org.ricky.admin.security.LoginAuthenticationProvider">
    	<!--  property name="userDetailsService" ref="loginUserDetailService"></property-->
	</bean>

	<bean id="myUserDetailService"
        class="org.ricky.admin.security.MyUserDetailService" />

    <!-- 访问决策器，决定某个用户具有的角色，是否有足够的权限去访问某个资源 -->
    <bean id="myAccessDecisionManagerBean"
        class="org.ricky.admin.security.MyAccessDecisionManager">
    </bean>
    
    <!-- 资源源数据定义，即定义某一资源可以被哪些角色访问 -->
    <bean id="securityMetadataSource"
        class="org.ricky.admin.security.MyInvocationSecurityMetadataSource" />
</beans>